@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  font-family: "Roboto";
}

.burger {
  position: relative;
  width: 30px;
  top: 0px;
  right: 0px;
  transition-duration: 0.5s;
}
.burger .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 2.5em;
  background-color: white;
}
.burger .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  content: "";
  top: -10px;
}
.burger .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: white;
  content: "";
  top: 10px;
}
.burger.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.burger.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(2px, 5px);
}
.burger.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(8px, -10px);
}
.burger:hover {
  cursor: pointer;
}

.down-line {
  background: #bdbdbd;
  margin: 0 4em;
  height: 1px;
}
.down-line--full-side {
  margin: 0;
}

@font-face {
  font-family: "LiberationSerif";
  src: url("../../fonts/LiberationSerif.ttf") format("ttf");
}
.text-block {
  padding: 0 4em;
  margin-top: 8em;
}
.text-block--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}
.text-block--left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  text-align: left;
  flex-wrap: wrap;
}
.text-block__title--huge, .text-block__title--medium, .text-block__title--small, .text-block__title--smallest {
  font-family: "LiberationSerif";
}
.text-block__title--huge {
  font-size: 4.5em;
  line-height: 6rem;
}
.text-block__title--medium {
  font-size: 4em;
  line-height: 5rem;
}
.text-block__title--small {
  font-size: 3.5em;
}
.text-block__title--smallest {
  font-size: 2.5em;
}
.text-block__link {
  font-size: 0.75em;
  transition: 0.2s;
}
.text-block__link:link, .text-block__link:visited {
  text-decoration: none;
}
.text-block__link--white {
  color: white;
  position: relative;
}
.text-block__link--white:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: 0.2s;
}
@media screen and (min-width: 850px) {
  .text-block__link--white:hover:after {
    transform: scaleX(1);
    transform: bottom right;
  }
}
.text-block__link--black:hover {
  color: #8a8a8a;
}
.text-block__link--black {
  color: #000000;
}
.text-block__link--gray {
  color: #8a8a8a;
}
.text-block__link--gray:hover {
  color: white;
}
.text-block__body--small {
  font-size: 1.1em;
  line-height: 2rem;
}
.text-block__body--smallest {
  font-size: 0.75em;
  line-height: 2rem;
}
.text-block--c-gray {
  color: #8a8a8a;
}
.text-block--mb-smallest {
  margin-bottom: 1rem;
}
.text-block--mb-small {
  margin-bottom: 2rem;
}
.text-block--mb-huge {
  margin-bottom: 5rem;
}
.text-block--mb-medium {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1280px) {
  .text-block--mb-small {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 770px) {
  .text-block__title--huge {
    font-size: 4.5em;
    line-height: 4.5rem;
  }
  .text-block__title--medium {
    font-size: 3em;
    line-height: 3rem;
  }
  .text-block__title--small {
    font-size: 3.5em;
  }
  .text-block__title--smallest {
    font-size: 2.5em;
  }
  .text-block--mb-smallest {
    margin-bottom: 0.5rem;
  }
  .text-block--mb-small {
    margin-bottom: 1rem;
  }
  .text-block--mb-huge {
    margin-bottom: 2.5rem;
  }
  .text-block--mb-medium {
    margin-bottom: 2rem;
  }
}
header {
  height: 4em;
  position: absolute;
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
}
header .burger {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  grid-column: 2/3;
}
header img {
  max-width: 5.25em;
  grid-column: 2/3;
}
header .side {
  padding: 0 4em;
}
header .side__left {
  grid-column: 1/2;
}
header .side__right {
  grid-column: 3/4;
}
header .side__left a:not(:last-child) {
  margin-right: 5em;
}
header .side__right a:not(:first-child) {
  margin-left: 5em;
}

@media screen and (max-width: 1280px) {
  header .side__left a:not(:last-child) {
    margin-right: 2em;
  }
  header .side__right a:not(:first-child) {
    margin-left: 2em;
  }
}
@media screen and (max-width: 850px) {
  header .side__left a:not(:last-child) {
    margin-right: 1em;
  }
  header .side__right a:not(:first-child) {
    margin-left: 1em;
  }
}
@media screen and (max-width: 770px) {
  .open:first-of-type {
    height: 100vh;
  }
  header {
    background: black;
    height: auto;
    z-index: 1;
    align-items: start;
    grid-template-rows: 0.5fr 0fr 0fr;
  }
  header .burger {
    display: block;
    grid-column: 2/3;
    padding-right: 2em;
  }
  header img {
    padding: 1em 0 1em 2em;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  header .side {
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
  }
  header .side.open {
    display: flex;
    height: auto;
  }
  header .side__left a:not(:last-child) {
    margin-right: 0em;
  }
  header .side__right a:not(:first-child) {
    margin-left: 0em;
  }
  header .side__left {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  header .side__left * {
    margin-bottom: 2em;
  }
  header .side__right {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  header .side__right * {
    margin-bottom: 2em;
  }
}
.section__intro {
  display: flex;
  background-color: #996b60;
  height: 100vh;
}
.section__intro .intro__left {
  width: 50%;
  object-fit: cover;
}
.section__intro .intro__right {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section__intro .intro__right button {
  border: 1.5px solid #ffffff;
  background-color: transparent;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
}
.section__intro .intro__right button:hover {
  border: 1.5px solid white;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
}
@media screen and (max-width: 1280px) {
  .section__intro {
    background-color: transparent;
  }
  .section__intro .intro__left {
    display: none;
  }
  .section__intro .intro__right {
    width: 100%;
  }
  .section__intro .intro__right .text-block {
    position: relative;
  }
  .section__intro .intro__right .text-block button {
    border: 1.5px solid transparent;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    max-width: 11.25em;
    padding: 1em 2em;
    transition: 0.2s;
  }
  .section__intro .intro__right .text-block button:hover {
    border: 1.5px solid white;
    background-color: transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    max-width: 11.25em;
    padding: 1em 2em;
    transition: 0.2s;
  }
  .section__intro .intro__right::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    display: block;
    background: no-repeat url(../../assets/images/preview_alcohol.png);
    background-size: cover;
    filter: brightness(0.5);
  }
}
@media screen and (max-width: 770px) {
  .section__intro .text-block {
    margin-top: 5em;
  }
}
.section__comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 0 4em;
}
.section__comments .comment {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  max-width: 18.75em;
}
.section__comments .comment__image {
  margin-top: 2em;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .section__comments .comment {
    max-width: 15em;
  }
}
@media screen and (max-width: 850px) {
  .section__comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
}
.section .flavors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  flex-wrap: wrap;
  margin: 2em 0 8em 0;
  padding: 0 4em;
}
.section .flavor {
  max-width: 23.875em;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.section .flavor *:not(:last-child) {
  margin-bottom: 1rem;
}
.section .flavor__title {
  font-family: "LiberationSerif";
  font-size: 2em;
}
.section .flavor__button {
  border: 1.5px solid #191919;
  background-color: #191919;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
}
.section .flavor__button:hover {
  border: 1.5px solid #191919;
  background-color: transparent;
  color: #191919;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
}
.section .flavor__image {
  max-width: 100%;
}
.section .flavor__img {
  position: relative;
}
.section .flavor__img__promotion {
  position: absolute;
  background-color: #191919;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 0.75em;
  line-height: 0.875rem;
  right: 5%;
  top: 5%;
}
@media screen and (max-width: 1280px) {
  .section .flavor {
    max-width: 15em;
  }
}
@media screen and (max-width: 850px) {
  .section .flavors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
}
.section__aperetifs {
  margin-top: 6.875em;
  padding: 0 4em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 4em;
}
.section__aperetifs img {
  grid-column: 1/3;
  max-width: 100%;
}
.section__aperetifs__title {
  grid-column: 1/2;
}
.section__aperetifs__body {
  grid-column: 2/3;
  justify-self: end;
  text-align: end;
  max-width: 34.25em;
}
@media screen and (max-width: 770px) {
  .section__aperetifs {
    row-gap: 2em;
  }
  .section__aperetifs__title {
    grid-column: 1/3;
  }
  .section__aperetifs__body {
    grid-column: 1/3;
    text-align: start;
  }
}
.section__proposition {
  margin-top: 2em;
  grid-template-columns: 1fr 2fr;
  display: grid;
  padding: 0 4em;
  column-gap: 4em;
}
.section__proposition img {
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 100%;
}
.section__proposition .proposition__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  grid-column: 1/2;
}
@media screen and (max-width: 1280px) {
  .section__proposition img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 770px) {
  .section__proposition {
    row-gap: 2em;
  }
  .section__proposition img {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .section__proposition .proposition__info {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.section__socialProof {
  background-color: black;
  color: white;
  margin-top: 2rem;
  padding: 5em 4em 3em 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.section__socialProof * {
  max-width: 22em;
}
@media screen and (max-width: 1280px) {
  .section__socialProof * {
    max-width: 15em;
  }
}
@media screen and (max-width: 850px) {
  .section__socialProof {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
  }
}
.section__closingArgument {
  display: grid;
  margin: 4rem 0;
  align-items: flex-end;
  padding: 0 4em;
  grid-template-columns: 1fr 2fr;
  column-gap: 6.875em;
}
.section__closingArgument img {
  grid-column: 1/2;
  grid-row: 1/4;
  max-width: 34em;
}
.section__closingArgument__title {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-start;
}
.section__closingArgument__body {
  grid-column: 2/3;
  grid-row: 2/3;
}
.section__closingArgument a {
  grid-column: 2/3;
  grid-row: 3/4;
}
@media screen and (max-width: 1280px) {
  .section__closingArgument {
    column-gap: 3em;
    row-gap: 2em;
  }
  .section__closingArgument img {
    max-width: 20em;
  }
}
@media screen and (max-width: 850px) {
  .section__closingArgument img {
    grid-column: 1/2;
    grid-row: 2/4;
    justify-self: end;
  }
  .section__closingArgument__title {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .section__closingArgument__body {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 770px) {
  .section__closingArgument {
    grid-template-columns: 1fr;
  }
  .section__closingArgument img {
    grid-column: 1;
    grid-row: 2/3;
    max-width: 100%;
  }
  .section__closingArgument__title {
    grid-column: 1;
    grid-row: 1/2;
  }
  .section__closingArgument__body {
    grid-column: 1;
    grid-row: 3/4;
  }
  .section__closingArgument a {
    grid-column: 1;
    grid-row: 4/5;
  }
}
.section__follow {
  background: no-repeat url(../../assets/images/follow_background.png);
  background-size: cover;
  color: white;
  padding: 4em 4em;
}
.section__follow .playlists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.section__follow .playlists__button {
  border: 1.5px solid transparent;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
}
.section__follow .playlists__button:hover {
  border: 1.5px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
}
.section__follow .playlists,
.section__follow .followUs {
  max-width: 26em;
  background: #000000;
  padding: 2em 4em;
}
.section__follow .followUs {
  margin-top: 2em;
  display: grid;
  justify-content: center;
  text-align: center;
  column-gap: 2em;
}
.section__follow .followUs__title {
  grid-row: 1/2;
}
.section__follow .followUs__links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  grid-row: 2/3;
}
.section__footer {
  background: black;
  color: white;
  padding: 2em 4em;
}
.section__footer .footer {
  display: grid;
}
.section__footer .footer .your-email {
  max-width: 27.5em;
  grid-column: 1/2;
  grid-row: 1/2;
}
.section__footer .footer .your-email__input {
  display: grid;
  justify-content: space-between;
}
.section__footer .footer .your-email__input input {
  padding-left: 2em;
  grid-column: 1/2;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
}
.section__footer .footer .your-email__input input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.section__footer .footer .your-email__input button {
  grid-column: 2/3;
  border: 1.5px solid transparent;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
  transition: 0.2s;
  padding-right: 0;
}
.section__footer .footer .your-email__input div {
  grid-column: 1/3;
}
.section__footer .footer .down-links {
  display: grid;
  align-items: flex-start;
  grid-column: 2/3;
  grid-row: 1/2;
}
.section__footer .footer .down-links a {
  margin-top: 1em;
}
.section__footer .footer .down-links p {
  margin-bottom: 1em;
}
.section__footer .footer .down-links__explore {
  grid-column: 1/2;
}
.section__footer .footer .down-links__follow {
  grid-column: 2/3;
}
.section__footer .footer .down-links__drop-us-line {
  grid-column: 3/4;
}
.section__footer .footer .down-links__explore, .section__footer .footer .down-links__follow, .section__footer .footer .down-links__drop-us-line {
  min-width: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.section__footer .footer .policy {
  margin-top: 8em;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.section__footer .footer .policy *:not(:last-child) {
  margin-right: 4em;
}
@media screen and (max-width: 1280px) {
  .section__footer .footer .your-email {
    max-width: 20.5em;
  }
}
@media screen and (max-width: 850px) {
  .section__footer .footer .your-email {
    max-width: 100%;
  }
  .section__footer .footer .down-links {
    margin-top: 2em;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .section__footer .footer .policy {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 2em;
  }
  .section__footer .footer .policy *:not(:last-child) {
    margin-right: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
