&__aperetifs {
  margin-top: 6.875em;
  padding: 0 $side_padding;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 4em;
  img {
    grid-column: 1 / 3;
    max-width: 100%;
  }
  &__title {
    grid-column: 1 / 2;
  }
  &__body {
    grid-column: 2 / 3;
    justify-self: end;
    text-align: end;
    max-width: 34.25em;
  }
}

@media screen and (max-width: $mobile) {
  &__aperetifs {
    row-gap: 2em;
    &__title {
      grid-column: 1 / 3;
    }
    &__body {
      grid-column: 1 / 3;
      text-align: start;
    }
  }
}
