&__comments {
  @include posText(flex, row, space-between, center, center);
  padding: 0 $side_padding;
  .comment {
    margin: 4rem 0;
    @include posText(flex, column, space-between, center, center);
    max-width: 18.75em;
    &__image {
      margin-top: 2em;
      max-width: 18.75em;
    }
  }
}
