.flavors {
  @include posText(flex, row, space-between, stretch, center);
  margin: 2em 0 8em 0;
  padding: 0 $side_padding;
}

.flavor {
  max-width: 23.875em;
  line-height: 2em;
  @include posText(flex, column, space-between, center, center);
  *:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__title {
    font-family: "LiberationSerif";
    font-size: 2em;
  }
  &__button {
    @include simpleButton(#ffffff, $black_color, $black_color);
  }
  &__image {
    max-width: 100%;
  }
  &__img {
    position: relative;
    &__promotion {
      position: absolute;
      background-color: $black_color;
      border-radius: 100%;
      width: 6rem;
      height: 6rem;
      @include posText(flex, column, center, center, center);
      color: #ffffff;
      font-size: 0.75em;
      line-height: 0.875rem;
      right: 5%;
      top: 5%;
    }
  }
}

@media screen and (max-width: $small-laptop) {
  .flavor {
    max-width: 15em;
  }
}

@media screen and (max-width: $tablet) {
  .flavors {
    @include posText(flex, column, space-between, center, center);
  }
}
