header {
  height: 4em;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 5.25em;
  }
  .side {
    padding: 0 $side_padding;
    &__left a:not(:last-child) {
      margin-right: 5em;
    }
    &__right a:not(:first-child) {
      margin-left: 5em;
    }
  }
}
