header {
  height: 4em;
  position: absolute;
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  .burger-menu {
    display: none;
    border: none;
    background-color: transparent;
    text-align: end;
    cursor: pointer;
    grid-column: 2 / 3;
  }
  img {
    max-width: 5.25em;
    grid-column: 2 / 3;
  }
  .side {
    padding: 0 $side_padding;
    &__left {
      grid-column: 1 / 2;
    }
    &__right {
      grid-column: 3 / 4;
    }
    &__left a:not(:last-child) {
      margin-right: 5em;
    }
    &__right a:not(:first-child) {
      margin-left: 5em;
    }
  }
}

@media screen and (max-width: $small-laptop) {
  header .side {
    &__left a:not(:last-child) {
      margin-right: 2em;
    }
    &__right a:not(:first-child) {
      margin-left: 2em;
    }
  }
}

@media screen and (max-width: $tablet) {
  header .side {
    &__left a:not(:last-child) {
      margin-right: 1em;
    }
    &__right a:not(:first-child) {
      margin-left: 1em;
    }
  }
}

@media screen and (max-width: $mobile) {
  header {
    background: black;
    height: 100vh;
    // padding: 1em 4em;
    z-index: 1;
    align-items: start;
    grid-template-rows: 0.5fr 0fr 0fr;
    .burger-menu {
      display: block;
    }
    img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .side {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__left a:not(:last-child) {
        margin-right: 0em;
      }
      &__right a:not(:first-child) {
        margin-left: 0em;
      }
      &__left {
        * {
          margin-bottom: 2em;
        }
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
      &__right {
        * {
          margin-bottom: 2em;
        }
        grid-row: 3 / 4;
        grid-column: 1 / 3;
      }
    }
  }
}
