&__intro {
  display: flex;
  background-color: #996b60;
  height: 100vh;
  .intro {
    &__left {
      width: 50%;
      object-fit: cover;
    }
    &__right {
      width: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      button {
        @include simpleButton(#000000, #ffffff);
      }
      button:hover {
        @include simpleButton(black, white, white);
      }
    }
  }
}

@media screen and (max-width: $small-laptop) {
  &__intro {
    background-color: transparent;
    .intro {
      &__left {
        display: none;
      }
      &__right {
        width: 100%;
        .text-block {
          position: relative;
          button {
            @include simpleButton(black, transparent, white);
          }
          button:hover {
            @include simpleButton(black, white);
          }
        }
      }
      &__right::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100vh;
        display: block;
        background: no-repeat url(../../assets/images/preview_alcohol.png);
        background-size: cover;
        filter: brightness(0.5);
      }
    }
  }
}
