&__intro {
  display: flex;
  background-color: #996b60;
  height: 100vh;
  .intro {
    &__left {
      width: 50%;
      object-fit: cover;
    }
    &__right {
      width: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
