&__intro {
  display: flex;
  height: 100vh;
  background-color: #996b60;
  .intro {
    &__left {
      width: 50%;
      object-fit: cover;
    }
    &__right {
      width: 50%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .text-block {
        padding: 0 2em;
        margin-top: 8em;
        &__title--huge {
          font-family: "LiberationSerif";
          font-size: 4em;
          line-height: 6rem;
        }
        &__body--medium {
          font-size: 1.1em;
          line-height: 2rem;
        }
        &__title--huge,
        &__body--medium {
          margin-bottom: 3rem;
        }
        &__button {
          @include simpleButton(#000000, #ffffff);
        }
      }
    }
  }
}
