@mixin simpleButton($bodyColor, $borderColor: null, $backgroundColor: null) {
  @if $borderColor {
    border: 1.5px solid $borderColor;
  }
  @if $backgroundColor {
    background-color: $backgroundColor;
  } @else {
    background-color: transparent;
  }
  color: $bodyColor;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  max-width: 11.25em;
  padding: 1em 2em;
}

@mixin posText($d, $fd, $jc, $ai, $ta, $fw: wrap) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  text-align: $ta;
  flex-wrap: $fw;
}
