&__proposition {
  margin-top: 2em;
  grid-template-columns: 1fr 2fr;
  display: grid;
  padding: 0 $side_padding;
  column-gap: 4em;
  img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 100%;
  }
  .proposition {
    &__info {
      @include posText(flex, column, space-between, center, center);
      grid-column: 1 / 2;
    }
  }
}

@media screen and (max-width: $small-laptop) {
  &__proposition {
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $mobile) {
  &__proposition {
    row-gap: 2em;
    img {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    .proposition {
      &__info {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }
  }
}
