&__socialProof {
  background-color: black;
  color: white;
  margin-top: 2rem;
  padding: 5em $side_padding 3em $side_padding;
  @include posText(flex, row, space-between, flex-start, center);
  * {
    max-width: 22em;
  }
}

@media screen and (max-width: $small-laptop) {
  &__socialProof {
    * {
      max-width: 15em;
    }
  }
}
