.text-block {
  &--center {
    @include posText(flex, column, center, center, center);
  }
  padding: 0 $side_padding;
  margin-top: 8em;
  &__title--huge {
    font-family: "LiberationSerif";
    font-size: 4em;
    line-height: 6rem;
  }
  &__body--medium {
    font-size: 1.1em;
    line-height: 2rem;
  }
  &__title--huge,
  &__body--medium {
    margin-bottom: 3rem;
  }
  &__button {
    @include simpleButton(#000000, #ffffff);
  }
}
