.text-block {
  &--center {
    @include posText(flex, column, center, center, center);
    width: 50%;
    margin: 0 auto;
  }
  &--left {
    @include posText(flex, column, flex-start, start, left);
  }
  padding: 0 $side_padding;
  margin-top: 8em;
  &__title {
    &--huge,
    &--medium,
    &--small,
    &--smallest {
      font-family: "LiberationSerif";
    }
    &--huge {
      font-size: 4.5em;
      line-height: 6rem;
    }
    &--medium {
      font-size: 4em;
      line-height: 5rem;
    }
    &--small {
      font-size: 3.5em;
    }
    &--smallest {
      font-size: 2.5em;
    }
  }
  &__link {
    font-size: 0.75em;
    transition: 0.2s;
    &:link,
    &:visited {
      text-decoration: none;
    }
    &--white {
      color: white;
      position: relative;
    }
    &--white:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -10px;
      left: 0;
      background-color: white;
      transform-origin: bottom left;
      transition: 0.2s;
    }
    &--white:hover:after {
      transform: scaleX(1);
      transform: bottom right;
    }
    &--black:hover {
      color: #8a8a8a;
    }
    &--black {
      color: #000000;
    }
    &--gray {
      color: #8a8a8a;
    }
    &--gray:hover {
      color: white;
    }
  }
  &__body {
    &--small {
      font-size: 1.1em;
      line-height: 2rem;
    }
    &--smallest {
      font-size: 0.75em;
      line-height: 2rem;
    }
  }
  &--c-gray {
    color: #8a8a8a;
  }
  &--mb-smallest {
    margin-bottom: 1rem;
  }
  &--mb-small {
    margin-bottom: 2rem;
  }
  &--mb-huge {
    margin-bottom: 5rem;
  }
  &--mb-medium {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: $small-laptop) {
  .text-block {
    &--mb-small {
      margin-bottom: 1rem;
    }
  }
}
