$side_padding: 4em;
$black_color: #191919;
$white-transparent_color: rgba(255, 255, 255, 0.6);
* {
  margin: 0;
  font-family: "Roboto";
}
$small-laptop: 1280px;
$tablet: 850px;
$mobile: 770px;

@import "./down-line";
@import "./fonts";
@import "./mixins";
@import "./text-block";

@import "./header";

.section {
  @import "./_intro";
  @import "./comments";
  @import "./flavors";
  @import "./aperetifs";
  @import "./proposition";
  @import "./socialProof";
  @import "./closingArgument";
  @import "./follow";
  @import "./footer";
}
